<!-- your html code here -->
<H1>Contact </H1>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta fellis euismod semper. Praesent
    commodo cursus<br> magna, vel scelerisque nisl consecteur. Fusce dapibus, tellus ac cursus commodo</p>
  <div class="container">
    <div class="row mb-6 btn-secondary " >
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
        <div class="col -sm-10 ">
            <input type="Your E-mail" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Your Email">
        </div>
        <div class="row mb-6">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Your Message</label>
            <div class="col -sm-10">
                <textarea type="Your Message" class="form-control form-control-sm" id="colFormLabelSm"
                    placeholder="Message"></textarea>
                   
           <button type="submit"class=" btn btn-primary">Submit</button>         

           </div>