<!-- your html code here -->
<style type="text/css">
   body { background: white !important; } 
</style>
<p>
<h2>Portfolio</h2>
</p>
<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
    into electronic typesetting, remaining essentially unchanged. 
</p>
<div class="row bg-white py-2">
    <div class="col">
        <div class="card border-light mb-3">
            <img src="https://picsum.photos/700/400" class="card-img-top">
            <div class="card-body">
                <h5 class="text-primary"gitgit>Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-light mb-3">
            <img src="https://picsum.photos/700/400" class="card-img-top">
            <div class="card-body">
                <h5 class="text-primary">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-light mb-3">
            <img src="https://picsum.photos/700/400" class="card-img-top">
            <div class="card-body">
                <h5 class="text-primary">Project Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>