<div class="row bg-white py-2">
    <div class="col-3">
        <img class="img-fluid rounded-circle" src="assets/img/2.jpg" alt="img">
    </div>
    <div class="col-9">
        <h1>This Second Heading <span class="text-muted">Is Pretty Cool</span></h1>
        <div class="col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nobis sint molestias amet ea, eius eaque quae sit dolor vel fugiat iure voluptas. Qui dolorum animi cupiditate ipsa ducimus! Quidem.</div>
    </div>
</div>